<div class="center hero-unit">
    <h1>Welcome to SBlog</h1>
    <h4>Created by <%= link_to 'Andrushko Nicolay','https://ua.linkedin.com/pub/николай-андрушко/100/152/6b7' %></h4>
  <br/>
  <%= image_tag 'She-Said-blog-011.jpg' %>
</div>