@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* universal */

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    padding-top: 60px;
    height: 100%;
    font-weight: bold;
}

.setup_nav {
    margin: 10px 0px;
}

.container {
    height: 100%;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

/* header */

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-decoration: underline !important;
    letter-spacing: -1px;
    margin: 14px 0;
    font-weight: bold;
    line-height: 1;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

/* footer */

footer {
    margin: 45px 0;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    display: block;
    margin-bottom: 15px;
@include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: #f00;
ul {
    list-style: none;
    margin: 0 0 18px 0;
}
}

.field_with_errors {
@extend .has-error;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
@include box_sizing;
}

/* Users index */

.users {
    list-style: none;
    margin: 0;
li {
    overflow: auto;
    padding: 10px 0;
}
}

.navbar-inner{
    font-weight: bold;
    background-color: #222222;
}


.display_none {
    display: none;
}

h1 {
    margin-top: 10px;
}

/* Last modifications */
li {
  list-style: none;
}
ul {
  padding: 0px;
}

.posts {
  li {
    margin-bottom: 10px;
    display: block;
    background-color: #DADADA;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.pagination {
  margin: 5px 0px;
}

.answer {
  cursor: pointer;
  color: darkblue;
  padding-left: 10px;
}
.answer:hover {
  color: darkturquoise;
}

.default_answer {
  margin-top: 10px;
  font-size: medium;
  cursor: pointer;
  color: darkblue;
}

.default_answer:hover {
  color: darkturquoise;
}

.one_comment_tree {
  margin-bottom: 20px;
  width: 500px;
}
.one_comment_tree > div > .comments > .one_comment_tree {
  margin-bottom: 5px;
}

.edit_comment_button, .artificial_save_changes_button, .discard_changes, .delete_comment_button{
  margin-left: 10px;
  cursor: pointer;
  color: darkblue;
}
.edit_comment_button:hover, .artificial_save_changes_button:hover,
.discard_changes:hover, .delete_comment_button:hover {
  color: darkturquoise;
}

.edit_comment {
  margin: 5px 0px;
  float: left;
  padding: 10px 0 0 10px;
  width: 350px;
}

.edit_comment > textarea {
  background-color: lightcyan;
}

.post_text {
  text-align: justify;
  margin-top: 30px;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 10px;
}

.show_comment_text, .post_text {
  white-space: pre-wrap;
}

.deleted_comment_text {
  color: #ff0000;
}

.show_comment_text, .deleted_comment_text {
  margin: 5px 0px;
  float: left;
  padding: 10px 0 0 10px;
}

.updated_at {
  color: green;
  margin-bottom: 5px;
}

.base_comment > .updated_at {
  padding-left: 10px;
}

.created_at {
  color: olive;
}

.base_comment {
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
}

.children_comments {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid;
}

#new_comment_text {
  margin-bottom: 1px;
}

.clear {
  clear: both;
}

.image_wrapper {
  float: left;
  padding: 10px 10px;
}

.delete_post {
  margin-left: 10px;
}

.post_edit {
  margin-top: 16px;
}

.user_edit_image {
  float: left;
}

.user_edit_fields {
  float: left;
  margin-left: 20px;
  width: 400px;
}
